{% extends "base.html" %}


{% block content %}
<div class="container">
	<br>
	<div class="row">
		<div class="col-12">
			<h3 class="p-3">
				{{articles.title}}
			</h3>
			<p class="text-muted">
				{{articles.description}}	
			</p>
			<p class="text-muted">
				{{articles.time}}	
			</p>
		</div>
	</div>
</div>
{% endblock %}
{% block up-header %}
<div class="py-4">
	<div class="container">
		<h2 class="display-4 text-center text-warning">پایان مقاله</h2>
		<hr>
		<div class="row align-items-center">
			<div class="col-md-6">
				<h2 class="display-4">
					بازدید از صفحه <span class="text-warning">مقالات</span>
					<p class="lead text-muted mb- mt-3">
						برای بازدید از تمامی مقالات سایت به روی دکمه زیر بزنید
					</p>
					<div class="text-center text-md-end">
						<a href="{% url 'mysite:infos' %}" class="btn btn-warning">صفحه مقالات</a>
					</div>
				</h2>
			</div>
			<div class="col-md-6">
				<img class="img-fluid" src="/media/media/3.png">
			</div>
		</div>
	</div>
</div>
{% endblock %}
