{% extends "base.html" %}
{% block logo %}

{% endblock %}
{% block content %}
<br>
<div class="container-lg">
	<div class="row">
		{% for a in object_list %}
			<div class="col-11">
				<img class="img-fluid mx-auto d-block mt-3" style="width:310px; height: 310px; border-radius: 75px;image-rendering: -webkit-optimize-contrast;" src="{{ a.pic.url }}"><br><br>
				<h5 class="">در باره ابر جواد : </h5>
				<p class="text-muted mb-4">{{a.description}}</p>
				<h5 class="">مهارت های من</h5>
				<p class="text-muted ">{{a.skils}}</p>
				<p class="text-muted ">{{a.skils1}}</p>
				<p class="text-muted ">{{a.skils2}}</p>
				<p class="text-muted ">{{a.skils3}}</p>
				<p class="text-muted ">{{a.skils4}}</p>
				<p class="text-muted ">{{a.skils5}}</p>
				<p class="text-muted ">{{a.skils6}}</p>
				<p class="text-muted ">{{a.skils7}}</p>
				<p class="text-muted ">{{a.skils8}}</p>
				<p class="text-muted ">{{a.skils9}}</p>
				<p class="text-muted ">{{a.skils10}}</p>
				<p class="text-muted ">{{a.skils11}}</p>
				<p class="text-muted ">{{a.skils12}}</p>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}